{% extends 'base.html' %}
{% block menu_list %}
    <li class="home"><a href="{{ url_for('homepage') }}">Home</a></li>
    <li class="food"><a href="{{ url_for('food') }}">Food</a></li>
    <li class="product"><a href="{{ url_for('product') }}" class="active">Products</a></li>
    
{% endblock %}
{% block body %}
<!-------- FOOD CONTAINER -------->
<section class="top__container">
    <h2>TYPES OF PRODUCTS </h2>
    {% if not session.logged_in %}<h3>Login to purchase products.</h3>{% endif %}
    <div class="food__types">
        {% if items %}
            {% for item in items %}
                {% if item.category == 'Product' %}
                <div class="food__type">
                    <img src="{{ url_for('uploaded_file', filename=item.image_name) }}" class="food__image" alt="">
                    <div class="food__details">
                        <h4  > {{ item.name }}   </h4>
                        <p>$ {{ item.price }} {% if session.logged_in %}<a href="{{ url_for('order', item_id=item.id) }}" class="buy__now">Buy Now</a>{% endif %}</p>
                        <p> <b> TYPE :</b> {{ item.tag }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
          {% if session.logged_in %}<h3 style="text-align: center;">No available products</h3>{% endif %}
        {% endif %}
    </div>

</section>
<!--x----- FOOD CONTAINER -----x-->
{% endblock %}