/*-------- GLOBAL CSS VARIABLE --------*/
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --buttonbackground: #696969;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/*-------- GLOBAL CSS VARIABLE --------*/